.search-window__modifier {
    margin-top: 60px;
}

.search-items {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.search-items__item img {
    width: 166px;
    height: 166px;
}