.search-window {
    margin-top: 60px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #262626;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 8px;
}

.search-window i {
    opacity: 0.5;
    font-size: 15px;
}

.search-window input {
    width: 93%;
    background-color: #262626;
    border: none;
    font-size: 20px;
    outline: none;
    caret-color: white;
    font-size: 20px;
}

.search-items {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.search-items__item img {
    width: 166px;
    height: 166px;
}